/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Contenedor principal */
.container {
    display: flex;
    width: 100%;
}

/* Menú lateral */
.sidebar {
    width: 250px;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: #333;
    padding-top: 20px;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #4CAF50;
}

/* Contenido principal */
.content {
    margin-left: 250px; /* Ajuste para no tapar el contenido con el menú */
    padding: 20px;
    width: 100%;
}
